@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Mimma&display=swap');

/* CSS Reset - Remove all default padding, margin, and set box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

/* Body styling */
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background: #000;
  max-width: 1440px;
  margin: 0 auto;
  /* border: 1px solid white; */
}

/* Ensure images don't overflow their container */
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* button */
.custom-btn {
  border: 0;
  border-radius: 42px;
  padding: 12px 30px;
  cursor: pointer;
  color: #FFF;
  font-family: 'Inter';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  background: #E6533C;
}

/*Common Paragraph Styles */
.para {
  font-family: 'Inter';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.50);

}

/* common heading */
.heading {
  font-family: 'Inter';
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  color: #FFF;
}

/* ................Header style............. */
header {
  width: 74%;
  margin: 57px auto 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  color: #E6533C;
  font-family: Inter;
  font-size: 2.25em;
  font-style: italic;
  font-weight: 800;
}

/*.................nav menu toggle icon styles............ */
#menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  color: white;
  display: none;
}

.menu-icon .fa-times {
  display: none;
}

#menu-toggle:checked+.menu-icon .fa-bars {
  display: none;
}

#menu-toggle:checked+.menu-icon .fa-times {
  display: block;
}

#menu-toggle:checked~.menu-icon~.nav-links {
  display: block;
  display: flex;
  position: absolute;
  top: 120px;
  flex-direction: column;
  gap: 24px;
  background-color: rgba(26, 19, 3, 0.69);
  padding: 12px;
  border-radius: 8px;
  width: 100%;
}

/* ...................nav menu list................ */
.nav-links {
  display: flex;
  gap: 47px;
}

.nav-links li a {
  font-family: Inter;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
}

.nav-links li:first-child a {
  font-weight: 600;
  border-radius: 46px;
  background: #E6533C;
  padding: 8px 20px;
}

/* ....................header banner  ...................*/
.banner-container {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}

.banner-info {
  width: 56%;
}

.banner-info>h1 {
  color: #FFF;
  font-family: 'Inter';
  font-size: 78px;
  font-style: normal;
  font-weight: 900;
}

#shape {
  color: #FFF;
  font-family: 'Miama', sans-serif;
  font-weight: 400;
  font-style: italic;

}

.banner-info>p {
  margin-top: 28px;
  margin-bottom: 28px;
}

.banner-info div button:last-child {
  border: 1px solid #FFF;
  background-color: #000;
}

.banner-img {
  position: relative;
}

.Free-Workout-Videos {
  position: absolute;
  padding: 17px 28px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(10px);
  right: -74px;
  top: 125px
}

#video-number {
  color: #FFF;
  font-size: 2.5em;
  font-weight: 900;
}

.Free-Workout-Videos>p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8125em;
}

.Video-tutorial {
  display: flex;
  gap: 8px;
  height: 100px;
  align-items: end;
  position: absolute;
  padding: 17px 28px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  top: 415px;
  left: -110px;
}

.Video-tutorial>p {
  color: rgba(239, 237, 232, 0.65);
}

/* habits styles */
.habits-container {
  width: 74%;
  margin: 0 auto 100px;
  text-align: center;
}

.habits-heading-info>p {
  margin: 14px auto 58px;
}

.habits-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.habits-cards h6 {
  color: #FFF;
  font-size: 1.125em;
  font-family: 'Inter';
  font-weight: 600;
  margin-top: 20px;
}

.habits-cards img {
  border-radius: 50%;
}

/* ......................run styles.................. */
.run-container {
  width: 74%;
  margin: 0 auto 100px;
  border-radius: 18px;
  padding: 30px 32px 29px 54px;
  background: #222;
  display: flex;
  align-items: center;
  gap: 120px;

}

.run-heading-info>p {
  margin: 14px auto 34px;
}


.run-img {
  width: 100%;
  height: 371px;
  background-image: url(..\/images/run.jpg);
  background-repeat: no-repeat;
  background-position: 66% 28%;
  border-radius: 18px;
}

/* ...............Trainings and Exercises......... */
.training-container {
  width: 74%;
  margin: 100px auto 88px;
}

.training-heading-info p {
  margin: 10px 0 58px;
}

.training-images-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.training-image {
  position: relative;
  width: 376px;
  height: 250px;


}

#image-1 {
  grid-column: 1/4;
  width: 100%;
  background: linear-gradient(0deg, rgba(6, 255, 210, 0.50) 0%, rgba(6, 255, 210, 0.50) 100%), url(../images/exercise1.jpg) lightgray 50% / cover no-repeat;
}

#image-1 p {
  position: absolute;
  left: 30px;
  bottom: 20px;
}

#image-2 {
  grid-column: 4/ 9;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 0, 0, 0.30) 0%, rgba(255, 0, 0, 0.30) 100%), url(../images/exercise2.png) lightgray -0.336px 0px / cover no-repeat;
}

#image-2 p {
  position: absolute;
  left: 30px;
  top: 20px;
  color: #FFF;
}

#image-3 {
  grid-column: 9/13;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../images/exercise3.png) lightgray 50% / cover no-repeat;

}

#image-3 p {
  position: absolute;
  left: 30px;
  bottom: 20px;
  color: #FFF;
}

#image-4 {
  grid-column: 1/6;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../images/exercise4.png) lightgray 50% / cover no-repeat;
}

#image-4 p {
  position: absolute;
  right: 30px;
  top: 20px;
  color: #FFF;
}

#image-5 {
  grid-column: 6/9;
  width: 100%;
  background: linear-gradient(0deg, rgba(66, 255, 0, 0.30) 0%, rgba(66, 255, 0, 0.30) 100%), url(../images/exercise5.jpg) lightgray 50% / cover no-repeat;
}

#image-5 p {
  position: absolute;
  left: 30px;
  bottom: 20px;
  color: #FFF;
}

#image-6 {
  grid-column: 9/ 13;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 71, 255, 0.30) 0%, rgba(0, 71, 255, 0.30) 100%), url(../images/exercise6.jpg) lightgray 50% / cover no-repeat;
}

#image-6 p {
  position: absolute;
  left: 30px;
  bottom: 20px;
  color: #FFF;
}

/*....................... bmi styles .............*/
.bmi-heading {
  text-align: center;
  width: 46%;
  margin: 0 auto 88px;
}

.bmi-form-container {
  background: #222;
  padding: 50px 0 50px;
}

.bmi-chart {
  width: 74%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.bmi-chart table caption {
  font-size: 1.75em;
  margin-bottom: 52px;
  text-align: start;
}

.bmi-chart table {
  border-collapse: collapse;
  width: 37%;
}

.bmi-chart table thead {
  text-align: left;
  color: #FFF;
  font-size: 1em;
}

.bmi-chart table th,
td {
  border: 1px solid rgba(255, 255, 255, 0.10);
  padding: 15px 17px 15px 18px;
}

.bmi-form {
  width: 54%;
}

.bmi-form h3 {
  font-size: 1.75em;
}

.bmi-form>p {
  margin: 14px 0 34px;
}

.bmi-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

}

.bmi-form form select:last-child {
  grid-column: 1/-1;
}

.bmi-form form input,
select {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.10);
  padding: 12px 40px 12px 20px;
  width: 100%;
}

.bmi-form form input::placeholder,
select {
  color: rgba(255, 255, 255, 0.60);
  font-family: 'Inter';
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
}

.bmi-form form select option {
  background-color: #000;
  font-size: 0.8em;
  color: white;
}

.bmi-form button {
  margin-top: 34px;
}

/* ...............meet our team...........  */
.team-container {
  width: 74%;
  margin: 88px auto 100px;
  text-align: center;
}

.team-info>p {
  margin: 14px auto 58px;
}

.team-cards {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.10);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.team-card {
  position: relative;
}

.team-card img {
  border-radius: 18px;
  width: 100%;
  height: 100%;
}

.team-card h5 {
  font-size: 1.25em;
}

.team-member-name {
  position: absolute;
  bottom: 16px;
  left: 19px;
}

/* .....................footer ..................*/
.footer {
  background: rgba(255, 255, 255, 0.10);
  margin-top: 88px;
  padding: 66px 0 35px;
}

.footer-content {
  width: 74%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin-bottom: 80px;
}

.footer-content h1 {
  color: #E6533C;
  font-family: 'Inter';
  font-size: 4.375rem;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-link h3 {
  color: #FFF;
  font-family: 'Inter';
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 40px;
}

.footer-link ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-link ul li a {
  font-family: 'Inter';
  font-size: 1.4375rem;
  color: rgba(255, 255, 255, 0.50);
}

.footer hr {
  width: 74%;
  border: 1px solid rgba(255, 255, 255, 0.10);
  margin: 0 auto;
  margin-bottom: 40px;
}

.footer>p {
  text-align: center;
  font-size: 1.25em;
}

/* Styles for small mobile screens <= 576px */
@media only screen and (max-width: 576px) {
  header {
    width: 90%;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;

  }

  /*............ header banner............ */
  .banner-container {
    margin-top: 51px;
    flex-direction: column;
    gap: 48px;
  }

  .banner-info {
    width: 100%;
  }

  .banner-info>h1 {
    font-size: 2.25em;
  }

  .custom-btn {
    padding: 14px;
  }

  .banner-info div button:last-child {
    margin-left: 0;
    margin-top: 10px;
  }

  .Free-Workout-Videos {
    top: 60px;
    right: 12px;
  }

  .Video-tutorial {
    top: 270px;
    left: 12px;
  }

  /* .................habits.................. */
  .habits-container {
    width: 90%;
  }

  .habits-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  /* ..................run styles................. */
  .run-container {
    flex-direction: column;
    gap: 30px;
    padding: 31px 33px 35px;
    width: 90%;
  }

  .run-heading-info button {
    width: 100%;
  }

  .run-img {
    width: 100%;
    height: 371px;
    background-size: cover;
    background-position: 50% 50%;
  }

  /* .........Trainings and Exercises */
  .training-container {
    width: 90%;
  }

  .training-heading-info h1 {
    font-size: 2em;
  }

  .training-heading-info p {
    margin-bottom: 35px;
  }

  #image-1 {
    grid-column: 1/8;
  }

  #image-2 {
    grid-column: 8/13;
    background-position: 66% 28%;
  }

  #image-4 {
    grid-column: 1/7;
  }

  #image-5 {
    grid-column: 7/13;
  }

  #image-3,
  #image-6 {
    display: none;
  }


  /*............... .....bmi styles................ */
  .bmi-heading {
    width: 90%;
    text-align: start;
    margin-bottom: 32px;
  }

  .bmi-heading>h1 {
    font-size: 2em;
  }

  .bmi-chart {
    width: 90%;
    flex-direction: column;
    gap: 60px;
  }

  .bmi-chart table caption {
    font-size: 1em;
    margin-bottom: 23px;
  }

  .bmi-chart .chart-table {
    width: 70%;
  }

  .bmi-form {
    width: 100%;
  }

  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }

  /* ..................meet our team ................. */
  .team-container {
    width: 90%;
  }

  .team-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  /*.................... footer....................... */
  .footer-links {
    flex-direction: column;
    gap: 20px;
  }

  .footer hr {
    width: 90%;
  }

}

/* Styles for devices between 577px and 992px (tablets) */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  header {
    width: 90%;
  }

  .nav-links {
    gap: 30px;
  }

  .nav-links li a {
    font-size: 1em;
  }

  /*................. header banner..............  */
  .banner-container {
    margin-top: 75px;
    flex-direction: column;
    gap: 100px;
  }

  .banner-info {
    width: 90%;
  }

  .banner-info div button:last-child {
    margin-left: 0;
  }

  .custom-btn {
    padding: 14px 30px;
  }

  .Free-Workout-Videos {
    top: 59px;
    right: -35px;
  }

  .Video-tutorial {
    top: 350px;
    left: -50px;
  }

  /* ..................habits................ */
  .habits-container {
    width: 90%;
  }

  .habits-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /* run styles */
  .run-container {
    width: 90%;
    gap: 50px;
    padding: 40px 43px 41px 54px;
  }

  .run-heading-info {
    flex: 1;
  }

  .run-img {
    flex: 1;
  }

  /* .........Trainings and Exercises */
  .training-container {
    width: 90%;
  }

  /* ..................bmi styles............ */
  .bmi-heading {
    width: 90%;
    text-align: start;
    margin-bottom: 46px;
  }

  .bmi-chart {
    width: 90%;
    flex-direction: column;
    gap: 60px;
  }

  .bmi-chart table {
    width: 60%;
  }

  .bmi-chart table caption {
    margin-bottom: 46px;
  }

  .bmi-form {
    width: 100%;
  }

  /* ...................meet our team..............  */
  .team-container {
    width: 90%;
  }

  /* ....................footer.................. */
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }

  .footer-links {
    justify-content: flex-start;
    gap: 150px;
  }

  .footer hr {
    width: 90%;
  }

}